<section class="page-section">
  <div class="container">
    <div class="product-item-description d-flex mr-auto">

      <div class="bg-faded p-5 rounded">

        <h2 class="section-heading mb-0">
          <span class="section-heading-lower">Welcome User!</span>
          <span class="section-heading-upper">User Info will go here</span>
        </h2>
        <br>

        <h2 class="section-heading mb-0">
            <span class="section-heading-lower">Your Saved Recipes</span>
            <span class="section-heading-upper">User's saved Recipes will go here</span>
        </h2>

      </div>

    </div>
  </div>
</section>