<div class="col-12">
    <section class="page-section">
<div class="jumbotron col-10 bg-faded">
    <h2 class="section-heading mb-0">
        <span class="section-heading-upper">My Virtual Pantry</span>
        <span class="section-heading-lower">My Ingredients</span>
      </h2>
      <!-- <p *ngFor="let i of this.pantryService.ingredient" (click)="removeItemFromPantry(i.id)">{{ i.name }}</p> -->
    <ul class="list">
        <li class="list-item" (click)="removeItemFromPantry(i)" *ngFor="let i of this.pantryService.ingredient">{{ i.name }}</li>
    </ul>
      <button class="btn btn-primary" (click)="addSelectionToArray()">Submit</button>
</div>
</section>
</div>  