<section class="page-section about-heading">
  <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/images/lunch.jpg" alt="">
      <div class="about-heading-content">
          
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Recipes For The Unimaginative</span>
                <span class="section-heading-lower">About Our Application</span>
              </h2>
              <p>
                We are RecAPI and our app will allow users to login and keep track of their virtual cabinet representing their ingredients. 
                These ingredients will be used to determine what recipes can be created. It will allow users to search for recipes 
                with certain ingredients, create their own recipes, and will also make recommendations based on the user's pantry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>