<<<<<<< HEAD
=======
<<<<<<< HEAD


div.jumbotron.mt-2.about-image {
 /* div.jumbotron.mt-2.about-image{ */
    /* color:#fff;
    text-align:center; */
    /* background:url('C:/Users/tmacd/Desktop/images/tasty.jpg'); */
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}


=======
/* */
>>>>>>> Tiff
>>>>>>> 859090e26f5278b4f1266cf2480e7dbe19833e61
