div.background-image{
    color:#fff;
    text-align:center;
    background:url('tasty.jpg');
    background-size:cover;
    background-position:center;
    /* transform: rotate(90deg); */
    padding-top:100px;
    padding-bottom:100px;
}