<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="./../../../assets/images/jar.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Delicious Recipes</span>
            <span class="section-heading-lower">From Your Kitchen</span>
          </h2>
          <p class="mb-3">
            Cooking is hard when you don't know what you're doing. You 
            probably went shopping and bought a bunch of food you know is 
            going to go bad, but you don't know what to do with any of it.
            Use this application to keep track of your ingredients. Based on what
            you add to your virtual "pantry," you will get a list of suggested recipes
            to prepare. Use the "Add Ingredients" tab to start putting together your
            own pantry.
            
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">
                Use this application to keep track of your ingredients. Based on what
                you add to your virtual "pantry," you will get a list of suggested recipes
                to prepare. Use the "Add Ingredients" tab to start putting together your
                own pantry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>