<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <!-- <a class="navbar-brand text-uppercase text-expanded font-weight-bold " href="#">RecipeApp</a> -->
        <!-- <a class="icon" routerLink="#"><img src="./../../../assets/images/pot.png"></a> -->
        <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                    <!-- <a class="navbar-brand text-uppercase text-expanded font-weight-bold " href="#">Recipe App</a> -->
                <ul class="navbar-nav mx-auto">
                    <!-- <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" routerLink="#">Recipe App</a>
                    </li> -->
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" routerLink="/popular">Popular</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" routerLink="/categories">Add Ingredients</a>
                    </li>
                </ul>

            <ul class="navbar-nav col-6 offset-3">
                <input type="text" placeholder="Search our awesome recipes" [(ngModel)]="search" class="form-control col-7 mt-2">
                <button class="btn btn-beige ml-2 mt-2" (click)="searchRecipe()">
                    <span class="oi oi-zoom-out"></span>
                </button>

                <button (click)="openLoginRegisterModal()" class="btn btn-primary ml-2 mt-2 ">Log in/Register</button> <!-- routerLink="/login" -->

                <button routerLink="/register" class="btn btn-primary ml-2 mt-2 ">Sign up</button>

                <button class="btn btn-primary ml-2 mt-2">Account
                    <span class="oi oi-person"></span>
                </button>
            </ul>
        </div>
    </div>
</nav>
