<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <a href="#" class="navbar-brand">Insert cool name here</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRecipeApp" aria-controls="navbarRecipeApp" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarRecipeApp">
      <div class="navbar-nav" id="navMenu">
        <a  class="nav-item nav-link" routerLink="">Link1</a>
        <a class="nav-item nav-link" routerLink="">Link3</a>
        <a class="nav-item nav-link" routerLink="">Link3</a>
      </div>
      
    </div>
    <ul class="navbar-nav offset-4">
        <li class="nav-item" id="logoutLink"><a routerLink="/login" class="nav-link text-light" id="logoutIcon">Log in <span class="oi oi-account-login"></span></a></li>
    </ul>

</nav>