<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<ng-template #content>
  <div class="modal-header">
    <h3 class="modal-title"></h3>

  </div>
  <div class="modal-body">
    <h4>Ingredients:</h4>
    <ol class="list-group list-group-flush">
      <li class="list-group-item" >{{steps.title}}</li>
    </ol>
    <br>
    
    <h4>Health Labels:</h4>
    <ul class="list-inline">
      <li class="list-inline-item" ></li>
      <br>
      <p><img src="" class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-sm-0"></p>
    </ul>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-outline-danger btn-lg">Close</button>
  </div>
</ng-template>